.choice-container{
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #2b7ec7;
    background-color: seashell;
  
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.01rem 1.9rem 0 rgba(86, 185,235, 0.5);
    transform:translateY(-0.5rem) ;
}
.choice-prefix{
    padding: 1.5rem  2.5rem;
    background-color: #56a5eb;
    color: seashell;
}
.choice-text{
    padding: 1.5rem;
    width: 100%;
}
.correct{
    background-color: #33c454
}
.incorrect{
    background-color: #eb2a3d;
}
#hud{
    display: flex;
    justify-content: space-around;

}
.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}